# Dependencias
node_modules/

# Archivos de macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Variables de entorno (si usas .env)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos de editores
.vscode/*
!.vscode/settings.json
.idea/

# Archivos de sistema/temporales
*.tmp
*.tempgit ls-files | grep node_modules