html {
  height: 100%;
  width: 100%;
}

* {   
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf3e7;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 30px 20px;
}

footer {
  background-color: #d382f9;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 5px 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  background-color: #b680e9;
}

nav a { 
  flex: 1;
  text-align: center;
  padding: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid white;
}

nav a:last-child { 
  border-right: none;
}

nav a:hover { 
  background-color: #cf06f2;
}

