html {
  height: 100%;
  width: 100%;
}

* {   
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ebddf5;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  background-color: #b680e9;
}

nav a { 
  flex: 1;
  text-align: center;
  padding: 18px;
  color: rgb(71, 1, 94);
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid white;
}

nav a:last-child { 
  border-right: none;
}

nav a:hover { 
  background-color: #cf06f2;
}

main {
  padding: 30px 20px;
}